<html>
    <body>
        <table border="2">
            <tr>
                <h1>ТАБЛИЦА ОПЫТА МАЙНКРАФТ</h1>
            </tr>
            <tr>
                <td>Источник</td>
                <td>Опыт</td>
            </tr>
            <tr>
                <td>Все детеныши животных, Агент, Алай, Летучая мышь, NPC,
                    <br> Снежный голем, Головастик, Деревенщина,
                    <br> Бродячий торговец, Медный голем</td>
                <td>0</td>
            </tr>
            <tr>
                <td>
                    Аксолотль, Верблюд, Кошка, Курица, Треска, Корова,<br>
                    Осел, Лиса, Лягушка, Светящийся кальмар, Лошадь, Лось, <br>
                    Оцелот, Попугай, Свинья, Рыба фугу, Кролик, Лосось, Овца, <br>
                    Скелет Лошади, Нюхач, Кальмар, Страйдер, <br>
                    Тропические рыбы , Черепаха, Лошадь-Зомби<br>
                </td>
                <td>
                    1-3
                </td>
            </tr>
        </table>
    </body>
</html>